#wrapper {
    display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
    row-gap: 24px;
}
#dsa {
    grid-row: 1;
    grid-column: 1 / 2; /* First column of the first row */
    width: 50%; /* 50% of the container width */
    align-self: center; /* Vertically center within the row */
	background-color: violet;
	padding:20px;
}
#mern {
	background-color: rgb(243, 127, 27);
	height: 75px;
	flex-basis:30%;
}
#acciojob {
	background-color: rgb(98, 110, 227);
	order:1;
	flex-basis:75%;
}
#buisness-analytics {
    order:2;
	flex-basis:40%;
	margin-right:10px;
	align-self:flex-end;
	background-color: rgb(17, 150, 126);
}

#spring {
    margin-left: 10px;
    height: 75px; 
	background-color: pink;
}
